<div class="container">
  <div class="form">
    
    <input placeholder="Enter item" [(ngModel)]="item">
   
    <button (click)="addTodo()">Add</button>

    

  </div>


<div class="showtodoList mt-5" >
  <div *ngIf="todoList.length == 0; else elseBlock">
    <p class="text-center">currently you don't have a todoList, please add your todolist</p>
  </div>
  <ng-template #elseBlock>
    <ul class=list-group mt-3 *ngFor="let todo of todoList ; let i=index">
      
      <li class="list-group-item" style="display:flex;justify-content:space-between">


        <div class="form-group form-check mt-3">
          <input types="checkbox" Class="form-check-input" id="exampleCheck1">
       
        </div>
        {{todo.item}}
        <i class="fa fa-trash" aria-hidden="true" (click)="delete(i)"></i>
      </li>
    </ul>
  </ng-template>
</div>


</div>  